@model comp2084Winter2022Thursday.Models.Semester

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Semester</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cours.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SemesterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
